api-module/src/test/resources/api-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">


    <flow name="execute-flow-and-log">
        <flow-ref name="#[message.inboundProperties.flow]"/>
        <logger level="ERROR" message="Everything is ok because we have the property with value #[message.inboundProperties.prop1]"/>
    </flow>



</mule>