api-module/src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:flowLib="http://www.mulesoft.org/schema/mule/flowLib"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/flowLib http://www.mulesoft.org/schema/mule/flowLib/1.0/mule-flowLib.xsd">

     <spring:beans>
         <spring:import resource="classpath:/api-config.xml"/>
     </spring:beans>

    <flow name="testFlow">
        <flowLib:execute flow="execute-flow-and-log">
            <flowLib:properties>
                <flowLib:property key="prop1" value-ref="#[string:value1]"/>
                <flowLib:property key="flow" value-ref="#[string:my-configurable-flow]"/>
            </flowLib:properties>
        </flowLib:execute>
    </flow>


    <sub-flow name="my-configurable-flow">
        <logger level="ERROR" message="I am running configurable flow"/>
    </sub-flow>

</mule>
